#lipud{
    position: absolute;
    top: 0%;
    left: 70%;

}

#eesti{
    width: 330px;
    height: 210px;
    border: 1px solid black;
    border-spacing: 0;
    position: absolute;
    top: 50px;
    left: 600px;

}
/*pseudoelementide kasutamine*/
#eesti tr:nth-child(1){
    background-color: Blue;

}
#eesti tr:nth-child(2){
    background-color: black;

}

#eesti tr:nth-child(3){
    background-color: White;

}